*{
    padding: 0;
    margin: 0;
}
:root{
    --bg-primary:#091921;
    --white-color:#fff;
    --white-lighter-1:rgba(255,255,255,0.05);
    --white-lighter-2:rgba(255,255,255,0.05);
    --white-lighter-3:rgba(255,255,255,0.05);
    --black-lighter:rgba(0,0,0,0.2);
    --red-color:rgba(241,43,8,0.856);
    --dark-purple:#432c7A;
    --light-purple:#533483;
    --light-hover-blue:#474E68;
    --dark-pink:#E80f88;
    --light-pink:#FF9F9F;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
}
.main{
    position: relative;
    right: 150px;
    width: 20rem;
    height: 20rem;
    padding: 30px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: var(--white-light-1);
    backdrop-filter: blur(15px);
    border-top: 1px solid var(--white-light-2);
    border-left: 1px solid var(--white-light-2);
    box-shadow: 5px 5px 30px var(--black-lighter);
}
.calc{
    position: absolute;
    bottom: 1.5rem;
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px; 
    row-gap: 10px;
    border-radius: 15px;
}
.btn{
    font-size: 2rem;
    padding: 5px;
    color: var(--white-color);
    border-radius: 10px;
    cursor: pointer;
    background: var(--white-light-1);
    border-radius: 16px;
    box-shadow: 0 4px 30px var(--black-lighter);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid var(--white-light-3);
    border-style: none;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: var(--light-hover-blue);
}
.form{
    width: fit-content;
}
#display {
    position: relative;
    width: 20rem;
    bottom: 5rem;
    background: transparent;
    border: none;
    color: var(--white-color);
    padding-top: 1.3rem;
    padding-bottom: 1.2rem;
    border-radius: 10px;
    font-size: 1.7rem; /* fixed from 'none' */
    outline-style: none;
    pointer-events: none; /* keep if you don't want input focus */
}
.clear,
.clear:hover{
    background-color: var(--red-color);
}
.circle{
    background: linear-gradient(var(--dark-purple),var(--light-pink));
    position: relative;
     top: -25%;           /* top-left corner */
    left:-20px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    opacity: 0.5;
    /* z-index: -1;   */
}
.circle::before{
    content: "";
    display: inline-block;
    background: linear-gradient(var(--dark-pink),var(--light-purple));
     position: relative; /* absolute to page */
    left: 350px;        /* bottom-right corner */
    top: 350px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    
}
@media (max-width:421px){
    .main{
        right: 50px;
        bottom: 100px;  
    }
    .circle{
       left: 20px; 
       top: -300px;
    }
}